/.vs/Aelaki/FileContentIndex
.vs/Aelaki/v17/.suo
Aelaki/obj/Aelaki.csproj.nuget.dgspec.json
Aelaki2 no chatGPT/obj/Debug/net8.0/Aelaki2 no chatGPT.AssemblyInfo.cs
Aelaki2 no chatGPT/obj/Aelaki2 no chatGPT.csproj.nuget.dgspec.json
.vs/Aelaki/v17/DocumentLayout.json
Verb/obj/Debug/net8.0/Verb.sourcelink.json
Aelaki/Noun.csproj
Aelaki/bin/Debug/net8.0/Noun.deps.json
Aelaki/bin/Debug/net8.0/Noun.dll
Aelaki/bin/Debug/net8.0/Noun.exe
Aelaki/bin/Debug/net8.0/Noun.pdb
Aelaki/obj/Debug/net8.0/Noun.csproj.CoreCompileInputs.cache
Aelaki/bin/Debug/net8.0/Noun.runtimeconfig.json
Aelaki/obj/Debug/net8.0/Noun.AssemblyInfo.cs
Aelaki/obj/Debug/net8.0/Noun.AssemblyInfoInputs.cache
Aelaki/obj/Debug/net8.0/Noun.assets.cache
Aelaki/obj/Debug/net8.0/Noun.csproj.BuildWithSkipAnalyzers
Aelaki/obj/Debug/net8.0/Noun.csproj.FileListAbsolute.txt
Aelaki/obj/Debug/net8.0/Noun.dll
Aelaki/obj/Debug/net8.0/Noun.GeneratedMSBuildEditorConfig.editorconfig
Aelaki/obj/Debug/net8.0/Noun.genruntimeconfig.cache
Aelaki/obj/Debug/net8.0/Noun.GlobalUsings.g.cs
.vs/Aelaki/v17/DocumentLayout.backup.json
.vs/Aelaki/DesignTimeBuild/.dtbcache.v2
Aelaki/obj/Debug/net8.0/Noun.pdb
Aelaki/obj/Debug/net8.0/Noun.sourcelink.json
Aelaki/obj/Debug/net8.0/ref/Noun.dll
Aelaki/obj/Debug/net8.0/refint/Noun.dll
Aelaki/obj/Noun.csproj.nuget.dgspec.json
Aelaki/obj/Noun.csproj.nuget.g.props
Aelaki/obj/Noun.csproj.nuget.g.targets
*.json
/General console/obj
Aelaki2 no chatGPT/obj/Debug/net8.0/Aelaki2 no chatGPT.AssemblyInfo.cs
Aelaki2 no chatGPT/obj/Debug/net8.0/Aelaki2 no chatGPT.AssemblyInfoInputs.cache
Verb/obj/Debug/net8.0/Verb.AssemblyInfo.cs
Verb/obj/Debug/net8.0/Verb.AssemblyInfoInputs.cache
*.dll
*.exe
*.pdb
